---
import MainLayout from "../MainLayout/MainLayout.astro";
import ButtonLeft from '../Components/ButtonLeft.astro';
import Headline from "../Components/Headline.astro";

import { findCurrentLang } from '../Helper/helper.ts';
import ButtonRight from "../Components/ButtonRight.astro";
const languages = await Astro.glob('../I18/*.json');
const lang = findCurrentLang(languages);

const pageTitle = "Erkenntnisse des Praktikums";
---

<MainLayout title={pageTitle}>

  <div class="MainDiv">
    <ButtonLeft url="/f4" />

    <div class="MainText">

      <Headline class1="HeadlineF5" class2="F5border1" class3="typed" 
        Titel={lang.f5.headline} class4="F5border2"/>

      <div class="TextDivF5">
        <div class="Text1">
          <div class="TextF5">
            <h4>{lang.f5.point1}</h4>
                <div class="TextInhalt">
                  <div class="TextInhalt2F5">
                    <div class="t1">{lang.f5.text1}</div>
                    <div class="t1">{lang.f5.text2}</div>
                    <div class="t1">{lang.f5.text3}</div>  
                    <div class="t1">{lang.f5.text4}</div>      
                    <div class="t1">{lang.f5.text5}</div> 
                  </div>   
                </div>
          </div>
        </div>

          <div class="Text2">
              <h4>{lang.f5.point2}</h4>
            <div class="TextInhalt">
              <div class="t1">{lang.f5.text6}</div>    
              <div class="t1">{lang.f5.text7}</div>  
              <div class="t1">{lang.f5.text8}</div>  
              <div class="t1">{lang.f5.text9}</div>      
              <div class="t1">{lang.f5.text10}</div>        
            </div>
          </div>
      </div>

    </div>
    
    <ButtonRight url="/f6" />
  </div>

</MainLayout>

<style>

body{
   background-image: url(../Image/folie5.png); 
}
        
</style>