---
import MainLayout from "../MainLayout/MainLayout.astro";
import ButtonLeft from '../Components/ButtonLeft.astro';
import Headline from "../Components/Headline.astro";

import { findCurrentLang } from '../Helper/helper.ts';
import ButtonRight from "../Components/ButtonRight.astro";
const languages = await Astro.glob('../I18/*.json');
const lang = findCurrentLang(languages);
---

<MainLayout title={lang.f6.headline}>

  <div class="MainDiv">
    <ButtonLeft url="/f5" />

    <div class="MainText">

      <Headline class1="HeadlineF5" class2="F5border1" class3="typed" 
        Titel={lang.f6.headline} class4="F5border2"/>

      <div class="TextDivNeuF6">
        <div class="HeadlineF6">
          <div class="HeadlineTextF6">
             {lang.f6.headline2}
          </div>
        </div>
        <div class="TextUseCaseF6">
          <div class="InhaltUseCaseF6">
            <div>{lang.f6.text1}</div>
            <div>{lang.f6.text2}</div>
          </div>
        </div>
        <div class="TextNeuF6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KtFF5T8AyB4?si=Q7qN6Og5fME74gz4" 
            title="YouTube video player" frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
            web-share" allowfullscreen>
          </iframe>
        </div>
      </div>

    </div>
    
    <ButtonRight url="/f7" />
  </div>

</MainLayout>

<style>

body{
   background-image: url(../Image/folie5.png); 
}
        
</style>